<a href="https://colab.research.google.com/github/Santyk98/Assingment7-8/blob/main/Task%207/DataPreprocessing_Assignment11/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

**Step 2: Importing dataset**

In [2]:
df = pd.read_csv('/content/Data.csv')

In [3]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

**Step 3: Handling the missing data**

In [4]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [6]:
df1 = df.copy()

In [8]:
df1.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [9]:
df1.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [11]:
df1.Age.head()

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
Name: Age, dtype: float64

**Step 5: Creating a dummy variable**

In [12]:
dummy= pd.get_dummies(df1['Country'], drop_first = True)
dummy.head()

   Germany  Spain
0        0      0
1        0      1
2        1      0
3        0      1
4        1      0

**Step 6: Splitting the datasets into training sets and Test sets**

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
Y = df1['Salary']
X = df1.drop('Salary', axis=1)

In [15]:
X.head()

   Country   Age Purchased
0   France  44.0        No
1    Spain  27.0       Yes
2  Germany  30.0        No
3    Spain  38.0        No
4  Germany  40.0       Yes

In [16]:
Y.head()

0    72000.0
1    48000.0
2    54000.0
3    61000.0
4        NaN
Name: Salary, dtype: float64

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,train_size=0.8, random_state =0)

# random_state ---> is seed -- fixing the sample selection for Training & Testing dataset

# check the dimensions of the train & test subset for 

print("The shape of X_train is:", X_train.shape)
print("The shape of X_test is:", X_test.shape)

print('')
print("The shape of Y_train is:", Y_train.shape)
print("The shape of Y_test is:", Y_test.shape)

The shape of X_train is: (8, 3)
The shape of X_test is: (2, 3)

The shape of Y_train is: (8,)
The shape of Y_test is: (2,)

In [18]:
# median for y_train
median_y_train = Y_train.median()

# median for y_test
median_y_test = Y_test.median()

In [19]:
print('The median for Y Train variables is:',median_y_train)
print('The median for Y Test variables is:',median_y_test)

The median for Y Train variables is: 61000.0
The median for Y Test variables is: 68500.0

**Step 7: Feature Scaling**

In [20]:
import datetime as dt